body {
    box-sizing: border-box;
    background-image: url("bg-radial-topleft.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
[v-cloak] {
    display: none;
  }
.box-form {
    margin-top: 2rem !important;
    margin: auto;
    width: 80%;
    background: #ffffff;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden !important;
    scroll-behavior: smooth;    
    display: flex;
    flex: 1 1 100%;
    align-items: stretch;
    box-shadow: 0 0 20px 6px #090b6f85;
    height: 80vh;
    justify-content: center;
}

@media (max-width: 980px) {
    body{
        min-height: 100vh;
        background-image: url("bg-radial-topleft.png");
        background-size: cover;
    }
    .box-form {
        flex-flow: wrap;
        text-align: center;
        align-content: center;
        align-items: center;
        width: 100% !important;
        height: 50% !important;
        margin: 0 !important;
        overflow-x: hidden;
    }
}
@media screen and (min-width: 320px) and (max-width: 623px){
        body{
        min-height: 140vh !important;
        overflow-x: hidden !important;
        width: 100vw !important;
    }
    .box-form .left .overlay h1 {
        font-size: 4rem !important;
        line-height: 1;
        font-weight: 900;
    }
}

@media (max-width: 600px){
    body{
        min-height: 140vh !important;
    }
}

.box-form div {
    height: auto;
}

.box-form .left {
    color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./backgroundLogin.png");
    overflow: hidden;
}

.box-form .left .overlay {
    padding: 30px;
    width: 100%;
    height: 100%;
    background: #5961f9ad;
    overflow: hidden;
    box-sizing: border-box;
}

.box-form .left .overlay h1 {
    font-size: 7rem;
    line-height: 1;
    font-weight: 900;

}

.box-form .left .overlay span p {
    margin-top: 30px;
    font-weight: 900;
}

.box-form .left .overlay span a {
    background: #3b5998;
    color: #ffffff;
    margin-top: 10px;
    padding: 14px 50px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0 3px 6px 1px #042d4657;
}

.box-form .left .overlay span a:last-child {
    background: #1dcaff;
    margin-left: 30px;
}

.box-form .right {
    padding: 40px;
    overflow: hidden;
    width: 80%;
}

@media (max-width: 980px) {
    .box-form .right {
        width: 100%;
    }
}

.box-form .right h5 {
    font-size: 4rem;
    line-height: 0;
    margin: 1rem;
    margin-left: 0 !important;
    margin-bottom: 2rem;
}

.box-form .right p {
    font-size: 14px;
    color: #b0b3b9;
    margin-top: 4rem;
}

.box-form .right .inputs {
    overflow: hidden;
}

.box-form .right input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #b0b3b9;
}

.box-form .right .remember-me--forget-password {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-form .right .remember-me--forget-password input {
    margin: 0;
    width: auto;
}

.p-forget {
    margin-top: 1rem !important;
}

.btn-login {
    background-color: #3c53b9;
    color: #f0f1f9 !important;
    display: flex;
    justify-content: center;
    width: max-content;
}

.btn-login:hover {
    background-color: #3cb9a2 !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #f0f8ff !important;
}

label {
    display: block;
    position: relative;
    margin-left: 30px;
}

label::before {
    content: "\2713";
    text-align: center;
    position: absolute;
    font-family: "Public Sans", sans-serif !important;
    background: transparent;
    border: 3px solid #3c53b9;
    border-radius: 4px;
    color: transparent;
    left: -30px;
    transition: all 0.2s linear;
    width: 1.5rem;
    height: 1.5rem;
}

label:hover::before {
    font-family: "Public Sans", sans-serif !important;
    content: "\2713";
    color: #fff;
    cursor: pointer;
    background: #3c53b9;
}

label:hover::before .text-checkbox {
    background: #3c53b9;
}

label span.text-checkbox {
    display: inline-block;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s linear;
}

label input[type="checkbox"] {
    display: none;
}